@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Roboto:ital', sans-serif;
    scroll-behavior: smooth;
}

.new_color{
    background-color:#111111;
}

.icons-container{
    animation: fadeInUp 0.5s ease-in-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.about_box{
  animation: fadeUp 0.2s ease-in-out forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}

.black-overlay{
  background-color: rgba(0, 0, 0, 0.7);
}